-
  var contents_list = [
    {
      'name':'about',
      'url':"p_about.html",
    },
    {
      'name':'blog',
      'url':'p_blog.html',
    },
    {
      'name':'portfolio',
      'url':'p_portfolio.html',
    },
    {
      'name':'contact',
      'url':'p_contact.html',
    }
  ]
