extends _page

block var_pagename
  - var pagename = 'blog'

block bloglink
  div.blogtag_box
    p tag list

block contents          
  div.reportbox
    section
      div.titleheader
        h1 あんまり幅を取らないようにタグと日付を配置したい
        p.timestump 2018.XX.XX Xxx. XX:XX
        p: a(href="#") タグ
        
      div.report 中身
        br
        | テストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
        br
        | テストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
        br
        | テストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
        br
        | テストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
        br
        | テストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
        br
        | テストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
        br
        | テストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
        br
        | テストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
        br
        | テストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
        br
        | テストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
        br
        | テストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
        br
        | テストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
        br
        | テストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
        br
        | テストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
        br
        | テストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
        br
        | テストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
        br
        | テストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
        br
        | テストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
        br
        | テストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
        br
        | テストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
        br
        | テストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
        br
        | テストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
        br
        | テストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
        br
        | テストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
        br
        | テストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
        br
        | テストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
        br
        | テストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
        br
        | テストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
        br
        | テストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
        br
        | テストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト 
