//$highlight: #CEE2EA;
$highlight: #C7E1EF;
//$primary-color: #80C3DD;
$primary-color: #77B8DA;
$primary-color_alp: rgba(119,184,218,0.1);

$base_color: #F0F0F0;
$top_bgcolor:#FEFEFE;
$base_txt_color:#36535E;
$pickup_color:#DBB17F;
$pickup_color_alp:rgba(219,177,127,0.5);

$menu_width:300;
$full_width:1800;
